body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* creates 2 rows with equal height */
    grid-template-columns: repeat(4, 1fr); /* creates 4 columns with equal width */
    gap: 5px; /* adds a 10px gap between grid items */
  }

  .grid-item {
    padding: 5px;
    text-align: left;
  }


main {
    padding: 16px;
}

main h1{color: rgb(34, 105, 74)

}

footer {
    padding: 24px 24px;
    background-color: rgb(176, 225, 103);

}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgb(237, 69, 18);

}

nav a{
    color: white;
}


h3 a {
    color: rgb(47, 89, 67);
  }

tbody tr:nth-child(even) {
    background-color: #b7aaaa;
